@{
    ViewData["Title"] = "City Library System Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the City Library System</h1>
    <p>Use the menu above to manage books and register/update members.</p>
</div>